.topics-container {
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 16px;
    align-items: center;
}

.browse-header {
    margin: 0;
    font-size: 20px;
}

.topics-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.topic-button {
    display: block;
    background-color: #d8cbe1;
    color: #7730b0;
    border: 2px solid #7730b0;
    border-radius: 20px;
    padding: 4px 8px;
    text-decoration: none;
}

.sort-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 0;
    padding: 0 16px;
    justify-content: end;
}

.sort-dropdown {
    background: #d8cbe1;
    color: #7730b0;
    border: 2px solid #7730b0;
    border-radius: 20px;
    padding: 4px 8px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.article-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 4px;
    margin: 0;
    padding: 16px;
    list-style-type: none;
}

.article-card {
    width: calc(50% - 2px);
    min-width: 420px;
}

.article-nav-link {
    height: 100%;
    border: 2px solid #d8cbe1;
    padding: 8px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: repeat(0.5fr);
    gap: 4px;
    color: #7730b0;
    text-decoration: none;
}

.title {
    grid-column: 1 / span 4;
    margin: 0;
    color: #7730b0;
}

img {
    width: 100%;
    grid-column: 1 / span 1;
    grid-row: 2 / span 3;
}

.author {
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
}

.created-at {
    grid-column: 2 / span 3;
    grid-row: 3 / span 3;
}

.topic {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
}

.comment-count {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
}

.votes {
    grid-column: 4 / span 1;
    grid-row: 4 / span 1;
}

.articles-icon {
    color: #7730b0;
}
