* {
    box-sizing: border-box;
}

body,
input,
textarea,
button {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
}

body {
    margin: 0;
    color: #0e1b1b;
}

button {
    cursor: pointer;
}
